<!-- index.nunjucks -->
{% extends "build.html" %}
{% block content %}


{% set currentComponent = "test-list" %}


<ul class="build-pagination">
    <li><a href="/">Home</a></li>
    <li><a href="/components">Components</a></li>
    <li>{{currentComponent}}</li>
</ul>


{% include  "components/" + currentComponent + "/" + currentComponent + ".html" %}

<div class="build-code-preview">
    <h2>Code sample:</h2>
    <pre>
        <code class="language-html">
{% include  "components/" + currentComponent + "/" + currentComponent + ".html" %}
        </code>
    </pre>
</div>

<!-- Escaping script -->
{% include  "build-configuration/escaping-script.html" %}


{% endblock %}