

//Variable declarations
$font-Montserrat: "Montserrat',sans-serif";
$zero: 0;
$header-bgcolor: #EB3349;
$white-color: #fff;


.test-list {
    ul {
        display: flex;
        margin: $zero;
        padding: $zero;
        background: $header-bgcolor;
        background: -webkit-linear-gradient(to left, #F45C43, $header-bgcolor);
        background: linear-gradient(to left, #F45C43, $header-bgcolor);
        color: $white-color;

        li {
            padding: 15px 20px;
            list-style-type: none;
            font-size: 1em;
        }

        .logout {
            margin-left: auto;
        }
    }
}